{% for film in films %}
  <li class="film-unit" data-id="{{ film.id }}">
    <a href="{{ base_vk ~ film.url }}?utm_source=vodkaster&utm_medium=site&utm_campaign=notflix&utm_content=poster" target="_blank">
    	<img src="{{ film.media_urls.poster.scale_188x250 }}" alt="{{ film.title }}" title="{{ film.title }}">
    </a>
  </li>
{% endfor %}
<li class="loader inactive">
  <div>
    Chargement...
  </div>
</li>