<nav class="navbar navbar-default navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="http://www.vodkaster.com?utm_source=vodkaster&utm_medium=site&utm_campaign=notflix&utm_content=logo" target="_blank"><img src="/img/logo.png" /></a>
  </div>
  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li {% if app.request.attributes.get('_route') == 'home'%}class="active"{% endif %}>
        <a href="{{ path('home') }}" class="arrow-after">Nouveautés<span class="arrow">&nbsp;&nbsp;&#x25BE;</span></a>
      </li>
      <li {% if app.request.attributes.get('_route') == 'info'%}class="active"{% endif %}>
        <a href="{{ path('info') }}" style="opacity: 0.9;">En savoir plus</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <div class="share">
          <div class="facebook">
            <div class="fb-like" data-href="http://www.notflix.fr" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div> 
          </div>  
          <div class="twitter">
            <a href="https://twitter.com/share" class="twitter-share-button"  data-url="http://www.notflix.fr" data-text="Notflix : Le Top des films qui ne sont pas sur Netflix">Tweet</a>
          </div>
        </div>
      </li>
      <li>
        <div class="disclaimer">Site parodique</div>
      </li>
    </ul>
  </div><!-- /.navbar-collapse -->
  </div>

  
</nav>