{% extends 'layout.html.twig' %}

{% block content %}

<h1>
	{% set vk_url = app.config.vk_list_url ~ '?utm_source=vodkaster&utm_medium=site&utm_campaign=notflix&utm_content=title' %}
	<a target="_blank" href="{{ vk_url }}">Le top des films qui ne sont pas sur Netflix</a>&nbsp;<a target="_blank" href="{{ vk_url }}"><small>voir tout</small></a></h1>
<ul class="film-list">
  {% include 'block/film-unit.html.twig' with {'films': films} %}
</ul>

{% endblock %}