
{% extends 'layout.html.twig' %}

{% block content %}

<h1>En savoir plus</h1>

<p>
  3 ans !
</p>
<p>
  3 ans, c'est le temps qu'il faut, en France, après la sortie en salle d'un film,
  pour avoir une chance de le voir débarquer sur les services de VoD par abonnement.
  On appelle ça "la chronologie des médias".
  Un délai interminable pour le spectateur avide de nouveautés,
  quand on sait qu’il suffit d’attendre 4 petits mois pour l’obtenir en DVD ! 
</p>
<p>
  <a href="/">Notflix.fr</a> répertorie ainsi en temps réel tous les films
  que vous ne retrouverez PAS sur les services de VoD par abonnement
  comme NetFlix, Canalplay, FilmoTV, Wuaki...
</p>
<p>
  Tous ces films sont en revanche disponibles immédiatement sur <a href="http://www.vodkaster.com?utm_source=vodkaster&utm_medium=site&utm_campaign=notflix&utm_content=info">Vodkaster</a>,
  grâce à son service révolutionnaire de lecture à distance de DVD,
  sans abonnement ni engagement.
</p>
<p>
  <a href="/">Bonne découverte !</a>
</p>

{% endblock %}