body { background: #dadada; }

.container { max-width: 1260px; padding: 0 5px; }

.navbar { border: none; border-radius: 0; margin:10px; background-color: #b9090c; box-shadow: 1px 1px 2px #aaa; }
.navbar-brand { padding: 9px 15px; }

.navbar-default .navbar-nav > li > a { color: #fff; padding: 24px; font-weight: bold; text-shadow: 1px 1px 1px #750508; position: relative; }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li.active > a { background-color: #97070a !important; }
.navbar-default .navbar-nav > li > a.arrow-after:after { border-color: #b9090c rgba(0,0,0,0); border-width: 6px 6px 0 6px; bottom: auto; left: 50%; bottom: -6px; margin-left: -6px; width: 0; border-style: solid; content: ""; display: block; position: absolute; }
.navbar-default .navbar-nav > li > a.arrow-after:hover:after,
.navbar-default .navbar-nav > li.active > a.arrow-after:after { border-color: #97070a rgba(0,0,0,0); }
.navbar-default .navbar-nav > li > .share { float: left; padding: 24px 0 19px 0; border-right: 1px solid #a8080b; }
.navbar-default .navbar-nav > li > .share > .facebook { float: left; margin-right: 20px; }
.navbar-default .navbar-nav > li > .share > .twitter { float: left; }

.navbar-default .navbar-nav > li > .disclaimer { color: #fff; padding: 24px 30px; font-weight: bold; text-shadow: 1px 1px 1px #b9090c; background-color: #C90013; border-left: 1px solid #eb2235; }


h1 { font-size: 28px; font-weight: bold; margin: 20px; }
h1 a { color: #333; }
h1 a small { color: #999; font-size: 0.5em; font-weight: bold; }
h1 a:hover { color: #97070a; text-decoration: none; }
h1 a:hover small { color: #97070a; }
p { margin: 10px 20px; font-size: 22px; font-weight: 200; }
p a { color: #97070a !important; }
ul.film-list { list-style: none; margin: 0 -45px 0 20px; padding: 0 0 30px 0; }
ul.film-list li.film-unit { float: left; margin: 0px 25px 25px 0px; }
ul.film-list li.film-unit a:hover { opacity: 0.9; }
ul.film-list li.film-unit img { width:180px; height: 240px; }
ul.film-list li.loader { clear: both; }
ul.film-list li.loader div { position: relative; text-align: center; color: #999; }
ul.film-list li.loader.inactive div { display: none; }

@media screen and (max-width: 1280px) {
  h1 { margin: 2%; }
  p { margin: 10px 2%; }
  ul.film-list { margin: 0; padding-left: 2%; }
  ul.film-list li.film-unit { margin: 0px 2% 2% 0px; width: 14.666%; }
  ul.film-list li.film-unit img { width: 100%; height: auto; }
}

@media screen and (max-width: 920px) {
  .navbar-brand { padding: 4px 8px; }
  .navbar-default .navbar-nav > li { font-size: 12px; }
  .navbar-default .navbar-nav > li > a { padding: 19px 15px; }
  .navbar-default .navbar-nav > li > .share { padding: 19px 0 14px 0; }
  .navbar-default .navbar-nav > li > .share > .facebook { margin-right: 8px; }
  .navbar-default .navbar-nav > li > .share > .twitter { width: 94px; }
  .navbar-default .navbar-nav > li > .disclaimer { padding: 20px 15px; }
}


@media screen and (max-width: 768px) {
  .navbar-toggle { margin-top: 12px; }
  .navbar-nav { margin: 0 -15px; }
  .navbar-default .navbar-nav > li > a.arrow-after:after { display: none; }
  .navbar-default .navbar-nav > li > a .arrow { display: none; }
  .navbar-default .navbar-nav > li > .share { padding: 19px 15px 14px 15px; width: 100%; }
  .navbar-default .navbar-nav > li > .disclaimer { display: none; }
  h1 { font-size: 24px; margin: 2.4%; }
  p { margin: 2.4%; font-size: 18px; }
  ul.film-list { margin: 0; padding-left: 2.4%; }
  ul.film-list li.film-unit { margin: 0px 2.4% 2.4% 0px; width: 22.6%; }
  ul.film-list li.film-unit img { width: 100%; height: auto; }
}

@media screen and (max-width: 520px) {
  h1 { text-align: center; margin: 3%; }
  p { margin: 2% 3%; }
}